# EDTS Application
edts

# Dependencies
node_modules
jspm_packages
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node Server
.vscode
build
logs
*.log
!*.env.example
*.env
